<h3>EComm Products</h3>
@if (hasError) {
    <p>Unable to fetch products</p>
}
@else if (products.length === 0) {
    <p>Fetching products...</p>
}
@else {
    <table>
        @for (product of products; track product.productID) {
            <tr>
                <td><a [routerLink]="['/edit-product', product.productID]">{{product.productName}}</a></td>
                <td>{{product.unitPrice | currency}}</td>
                <td><button (click)="deleteProduct(product)">Delete</button></td>
            </tr>
        }
    </table>
} 
